<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.2/classic/styles.css">
  </head>
  <body>
    <%- include("../partials/nav") %>

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12 mt-3">
          <form action="" method="post" enctype="multipart/form-data">
            <input  type="hidden" value="<%= blog.idblog %>" name="idblog">
            <input type="hidden" name="Image" value="<%= blog.Image %>">
            <div class="row mb-3">
              <label for="Title" class="col-sm-2 col-form-label">Başlık</label>
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  id="Title"
                  name="Title"
                  value="<%= blog.Title %>"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="SubTitle" class="col-sm-2 col-form-label">altbaslik</label>
              <div class="col-sm-8">
                  <textarea name="SubTitle" class="form-control" rows="5">
                      <%= blog.SubTitle %>
                  </textarea>
              </div>
          </div>

            <div class="row mb-3">
              <label for="title" class="col-sm-2 col-form-label"
                >Açıklama</label
              >
              <div class="col-sm-8">
                <textarea
                  name="Description"
                  rows="10"
                  class="form-control"
                  id="editor"   
                ><%= blog.Description %></textarea>
              </div>
            </div>
            <div class="row mb-3">
              <label for="Image" class="col-sm-2 col-form-label">Image</label>
              <div class="col-sm-8">
                <img src="/static/images/<%= blog.Image %>" alt="" width="120px">
                <input
                  type="file"
                  value="<%= blog.Image %>"
                  class="form-control"
                  name="Image"
                  id="Image"
                />
              </div>
            </div>

            <div class="row mb-3">
              <label for="title" class="col-sm-2 col-form-label"
                >Kategori</label
              >
              <div class="col-sm-8">
                <select name="category" id="category" class="form-select">
                  <option value="-1" selected>Seçiniz</option>
                  <% categories.forEach(element => { %>
                    
                  
                    <% if (blog.categoryId==element.idCategory) { %>
                      <option value="<%= element.idCategory %>" selected><%= element.Name %></option>
                    
                      <% } else { %>
                      <option value="<%= element.idCategory %>"><%= element.Name %></option>
                    <% } %>   
                  <% }) %>  
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-10 offset-sm-2">
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="mainPage"
                    name="mainPage"
                    <%= blog.mainPage ? "checked":"" %>
                  />
                  <label type="checkbox" class="form-check-label" id="mainPage"> 
                    Ana Sayfa</label
                  >
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-10 offset-sm-2">
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="isApproved"
                    name="isApproved"
                    <%= blog.isApproved ? "checked":"" %>
                  />
                  <label type="checkbox" class="form-check-label" id="isApproved" >
                    Onay</label
                  >
                </div>
              </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-8 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <%- include('../partials/ck-editor.ejs') %>
  </body>
</html>
